__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
build/
dist/
*.egg-info/


.env


data/chroma_db/
data/database/*.db
data/processed/*.pkl
*.db
*.sqlite


node_modules/
dist/
.vite/
.next/


.DS_Store
Thumbs.db
.vscode/
.idea/
*.log
frontend/dist
frontend/node_modules